.sidebar {
  min-width: 380px;
  width: 380px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--color-secondary);
  overflow-y: auto;
}
.sidebar.closed {
  min-width: 0;

  .header .col,
  .header .button {
    display: none;
  }
  .header {
    justify-content: center;
  }
  .menu-list {
    align-items: center;

    .active .item {
      border-left: none;
    }

    .item {
      justify-content: center;
      padding: 12px;

      svg {
        width: 26px;
        height: 26px;
      }
    }
  }
  .menu-list .item .name {
    display: none;
  }

  .search-container {
    justify-content: center;

    .input-container:hover {
      background-color: var(--color-secondary-light);
      cursor: pointer;
    }
  }
  .search-container .button {
    display: none;
  }
  .search input {
    display: none;
  }
  .search {
    width: auto;
  }

  .chat-list .item .col,
  .chat-list .item .details {
    display: none;
  }
  .chat-list .active .item {
    border: none;
  }
  .chat-list {
    align-items: center;
  }
  .chat-list .item {
    padding: 12px;

    .image-xl {
      min-width: 40px;
      width: 40px;
      height: 40px;
      img {
        width: 100%;
      }
    }
  }
}

.sidebar .header {
  display: flex;
  align-items: center;
  padding: var(--sidebar-padding);

  .image-xl {
    min-width: 54px;
    height: 54px;
  }

  .col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 12px;
  }

  .col .name {
    color: var(--font-color-gray);
    font-size: 18px;

    &:hover {
      cursor: pointer;
    }
  }

  .col .status {
    color: var(--font-color-gray-dark);
    font-size: 12px;
    font-weight: 600;
    user-select: none;
  }

  .button {
    min-width: 34px;
    height: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    transition: 0.2s ease;

    svg {
      width: 20px;
      height: 20px;
      stroke: var(--font-color-gray-dark);
    }

    &:hover {
      background-color: var(--color-secondary);
      cursor: pointer;
    }
  }
}
.sidebar .menu-list {
  display: flex;
  flex-direction: column;
  padding: calc(var(--sidebar-padding));
  gap: 4px;

  .active .item {
    background-color: var(--color-secondary);
    border-left: 8px solid var(--color-custom-theme);
  }

  .item {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 12px;
    border-radius: 8px;
    user-select: none;
    transition: 0.2s ease;

    &:hover {
      background-color: var(--color-secondary);
    }
  }
  .item svg {
    width: 26px;
    height: 26px;
    fill: var(--font-color-gray-dark);
    stroke: var(--font-color-gray-dark);
  }
  .item .name {
    color: var(--font-color-gray-dark);
    font-size: 16px;
    font-weight: 600;
  }
}
.sidebar .chat-list {
  height: 100%;
  min-height: 82px;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  gap: 6px;
  overflow-y: auto;

  .active .item {
    border-left: 8px solid var(--color-custom-theme);
    background-color: var(--color-secondary);
  }

  .active .avatar-group img:last-child,
  .item:hover img:last-child,
  .active .item .status,
  .item:hover .status {
    background-color: var(--color-secondary);
  }

  .item {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 12px;
    border-radius: 8px;
    user-select: none;
    transition: 0.2s ease;

    .image-group-container div:last-child {
      background-color: var(--color-primary);
    }
    .col {
      width: 100%;
      height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-left: 4px;
    }

    .col .name {
      color: var(--font-color-gray);
      font-size: 18px;
    }
    .col .last-message {
      color: var(--font-color-gray-dark);
      font-size: 13px;
      -webkit-line-clamp: 2;
      line-clamp: 2;
    }

    .details {
      height: 50px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-evenly;
      margin-right: 4px;
    }
    .details .date {
      color: var(--font-color-gray-dark);
    }

    &:hover {
      background-color: var(--color-secondary);
    }
  }
}

.sidebar .search-container {
  display: flex;
  align-items: center;
  padding: 1.5rem var(--sidebar-padding);
  border-top: 1px solid var(--color-secondary);
}

.sidebar .search-container .button {
  min-width: 28px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;

  svg {
    fill: var(--font-color-gray-dark);
  }

  &:hover {
    background-color: var(--color-secondary-light);
  }
}

.create-chat {
  width: 420px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-primary);
  padding: 1.2rem;
  gap: 12px;
  border-radius: 12px;
  box-shadow: 0 0px 30px 2px rgba(0, 0, 0, 0.1);
  animation: var(--animation-popup);
  animation-duration: 0.2s;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    user-select: none;

    .title {
      font-size: 24px;
      color: var(--font-color-gray);
      font-weight: bold;
    }

    .counter {
      font-size: 13px;
      color: var(--font-color-gray-dark);
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow-y: auto;
    user-select: none;

    .item {
      display: flex;
      align-items: center;
      padding: 10px 12px;
      gap: 8px;
      border-radius: 8px;
      transition: 0.2s ease;

      &:hover {
        background-color: var(--color-secondary);
        cursor: pointer;
      }

      .image-xl {
        min-width: 32px;
        height: 32px;

        img {
          min-width: 32px;
        }
      }

      .name {
        color: var(--font-color-gray-dark);
      }
    }
  }

  .members {
    min-height: 25px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    user-select: none;

    .member {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      background-color: var(--color-secondary);
      border-radius: 4px;
      gap: 6px;
      transition: 0.2s ease;

      .name {
        color: var(--font-color-gray-dark);
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          fill: #9ca3af;
        }
      }

      &:hover {
        background-color: var(--color-secondary-light);
        cursor: default;
      }
    }
  }

  .list .item .checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      border-radius: 4px;
      background-color: transparent;
      border: 1px solid var(--color-secondary-light);

      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    & input:checked ~ .checkmark::after {
      display: block;
    }

    & input:checked ~ .checkmark {
      background-color: var(--color-custom-theme);
    }

    & .checkmark:after {
      left: 8px;
      top: 4px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:hover input ~ .checkmark {
      background-color: var(--color-secondary);
    }

    &:hover input:checked ~ .checkmark {
      background-color: var(--color-custom-theme);
    }
  }

  .button {
    background-color: transparent;
    padding: 10px 16px;
    font-size: 16px;
    color: var(--font-color-gray-dark);
    margin-top: 8px;
    border-radius: 8px;
    transition: 0.2s ease;
    user-select: none;

    &:hover {
      color: var(--font-color-gray);
      background-color: var(--color-custom-theme);
      cursor: pointer;
    }
  }
}
