.sidebar {
  min-width: 400px;
  max-width: 400px;
  background-color: var(--color-primary);
  height: 100vh;
  border-right: 1px solid var(--color-secondary);
  z-index: 2;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--sidebar-padding);
    background-color: var(--color-primary);

    .icons .icon {
      position: relative;
      padding: 0.5rem;
      width: 36px;
      height: 36px;
      border-radius: 8px;

      svg {
        width: 20px;
        height: 20px;
        stroke: var(--font-color-gray-dark);
      }

      &:hover {
        background-color: var(--color-secondary);
        transition: 0.1s;
      }
    }
  }

  .header .vertical-group {
    width: 100%;
    margin-left: 4px;

    .status-container {
      display: flex;
      align-items: center;
      padding: 4px 8px;
      border-radius: 8px;

      .status {
        color: var(--font-color-gray-dark);
        font-size: 12px;
      }

      &:hover {
        background-color: var(--color-secondary);
        transition: 0.1s;
      }
    }
  }

  .header .horizontal-group .text-name {
    font-size: 22px;
    padding-left: 8px;
  }
}

.sidebar .menu {
  position: absolute;
  top: calc(100% + 8px);
  right: 0;
  padding: 6px 4px;
  background-color: var(--color-secondary);
  border-radius: 8px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);

  .item-button {
    border-radius: 4px;

    .text-name {
      font-size: 12px;
    }

    &:hover {
      background-color: var(--color-secondary-light) !important;
    }
  }
}

.chats {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  height: calc(100vh - 105px);
  gap: 4px;

  .list {
    overflow-y: auto;
  }
}

.chats .listItem {
  display: flex;
  align-items: center;
  padding: 0.8rem 1rem;
  border-radius: 8px;

  .vertical-group {
    width: 100%;
    height: 50px;
    margin-left: 8px;
    justify-content: space-evenly;
  }

  .name {
    font-size: 16px;
  }

  .last-message {
    -webkit-line-clamp: 2;
    line-clamp: 2;
    color: var(--font-color-gray-dark);
    font-size: 13px;
  }

  &:hover {
    background-color: var(--color-secondary);
    transition: 0.1s;
  }

  .details {
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
  }

  .details .date {
    color: var(--font-color-gray-dark);
  }
}
.chats .active .listItem,
.chats .active .image-gap {
  background-color: var(--color-custom-theme);
}

.sidebar .search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  padding: calc(var(--sidebar-padding) - 0.5rem);
  background-color: var(--color-primary);
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--color-secondary-light);

  .input-container {
    display: flex;
    align-items: center;
    width: 100%;
    display: flex;
    background-color: var(--color-secondary);
    border-radius: 8px;
    padding: 0.35rem;
  }

  .input-container svg {
    width: 34px;
    padding: 5px;
    stroke: var(--font-color-gray-dark);
  }

  .input-container .input {
    width: 100%;
    padding: 0 0.5rem;
    font-size: 12px;
    background-color: transparent;
    color: var(--font-color-gray);
  }

  .input-container .input::placeholder {
    color: var(--font-color-gray-dark);
  }
}

.sidebar .search .button-add {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: var(--color-secondary);

  span {
    color: var(--font-color-gray-dark);
    font-size: 20px;
  }

  &:hover {
    background-color: var(--color-secondary-light);
    transition: 0.1s;
  }
}
.create-chat {
  display: flex;
  flex-direction: column;
  background-color: var(--color-secondary);
  width: 400px;
  padding: 1rem 1.5rem;
  gap: 18px;
  border-radius: 8px;

  .create-chat-header {
    display: flex;
    flex-direction: column;
    gap: 4px;

    .text-name {
      font-size: 24px;
    }

    .counter {
      font-size: 13px;
      color: var(--font-color-gray-dark);
    }
  }

  .create-chat-input-container {
    display: flex;
    align-items: center;
    padding: 6px 12px;
    background-color: var(--color-primary);
    border-radius: 8px;

    svg {
      width: 24px;
      stroke: var(--color-secondary-light);
    }

    input {
      width: 100%;
      padding: 8px 6px;
      background-color: transparent;
      color: var(--font-color-gray);
      font-size: 13px;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    max-height: 210px;
    height: 210px;
    overflow-y: auto;
    gap: 2px;

    .item {
      display: flex;
      align-items: center;
      padding: 8px 10px;
      gap: 6px;
      border-radius: 8px;

      .profile-pic {
        min-width: 32px;
        height: 32px;
      }

      .text-name {
        /*checkbox size*/
        margin-right: 20px;
        color: var(--font-color-gray);
        user-select: none;
      }

      &:hover {
        background-color: var(--color-primary);
        transition: 0.1s;
      }
    }
  }

  .members {
    display: flex;
    gap: 2px;
    flex-wrap: wrap;

    .member {
      display: flex;
      align-items: center;
      padding: 2px 4px;
      gap: 4px;
      background-color: var(--color-primary);
      border-radius: 4px;
      min-width: 80px;

      &:hover {
        background-color: var(--color-secondary-light);
        transition: 0.1s;
        cursor: pointer;
      }

      .text-name {
        color: var(--font-color-gray-dark);
        user-select: none;
      }

      .icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          fill: var(--font-color-gray-dark);
        }
      }
    }
  }

  .list .item .checkbox-container {
    display: block;
    position: relative;
    cursor: pointer;

    input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      height: 0;
      width: 0;
      cursor: pointer;
    }

    .checkmark {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      height: 20px;
      width: 20px;
      border-radius: 4px;
      background-color: transparent;
      border: 1px solid var(--color-secondary-light);

      &::after {
        content: "";
        position: absolute;
        display: none;
      }
    }

    & input:checked ~ .checkmark::after {
      display: block;
    }

    & input:checked ~ .checkmark {
      background-color: var(--color-custom-theme);
    }

    & .checkmark:after {
      left: 8px;
      top: 4px;
      width: 4px;
      height: 8px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:hover input ~ .checkmark {
      background-color: var(--color-secondary);
    }

    &:hover input:checked ~ .checkmark {
      background-color: var(--color-custom-theme);
    }
  }

  .button-create {
    padding: 10px 12px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--font-color-gray-dark);

    &:hover {
      background-color: var(--color-custom-theme);
      color: var(--font-color-gray);
      transition: 0.1s;
      cursor: pointer;
    }
  }
}
